.userMyPage
  .userMyPage__main
    .choicesPay
      .choicesPay__head
        .choicesPay__head__title
          支払い方法
      .choicesPay__form
        .radioBox
          .radioBox__content
            .radioBox__content__btn
              %input.radioInput(type="radio"name="radio")
            .radioBox__content__textBox
              .radioBox__content__textBox__cvsAtm
                コンビニ/ATM支払い
              .radioBox__content__textBox__fee
                (手数料¥100円)
        .radioBox
          .radioBox__content
            .radioBox__content__btn
              %input.radioInput(type="radio"name="radio")
            .registrationCard
              %p.registrationCard__number ************0127
              %p.registrationCard__date 有効期限 11 / 21
              %img.cardLogo{:alt => "mastercard", :src => "https://web-jp-assets.mercdn.net/_next/static/images/mastercard-8b5b68c12b7a2fc8619c71f49ef9209b.svg"}/
            .deleteCard
              =link_to "削除する", "#", class: "deleteCard__btn"
          .radioBox__newCard
            %i.far.fa-credit-card
            = link_to "クレジットカードの登録", "/credit_cards/new", class: "radioBox__newCard__btn"
            %a.i.far.fa-crad(href="#")
      .paymentMethodOfChoice
        %button{type: "submit", class:'paymentMethodOfChoice__btn'}
          選択した支払い方法を使う
      
  = render "users/user-navi"
=render "home/purchaseBtn"