.main {
  background-color: #f8f8f8;

  &__content {
    padding: 40px 40px 0 40px;
    margin: auto 0;
    display: flex;
    justify-content: center;
    &__itembox {
      width: 700px;
      background-color: white;
      padding: 24px 40px 40px;

      &__name {
        text-align: center;
        font-weight: bold;
        font-size: 24px;
      }
      &__body {
        width: 400px;
        margin: auto;
      }

        .item_image {
          width: initial;
          vertical-align: middle;
          height: 346px;
          object-fit: cover;
        }
        &__type {
          display: flex;
          justify-content: center;
          margin-top: 10px;
        }
        .imagebox {
          display: flex;
        }
  
        .item_images {
          width: initial;
          vertical-align: middle;
          height: 87px;
          object-fit: cover;
        }

      &__price {
        margin: 24px 0 24px;
        text-align: center;
        display: flex;
        flex-direction: column;
        .product_price {
          font-size: 46px;
          font-weight: bold;
          margin: 0 10px 0 0;
        }
        .price_tax {
          font-size: 16px;
        }
      }

      &__description {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 30px;
      }

      &__table {
        margin-bottom: 20px;
        &__collection {
          width: 100%;
        }
          }
            .tr {
              width: 100%;
              display: flex;

            }
            .th {
              width: 25%;
              background-color: #eee;
              font-weight: 400;
              padding: 8px;
              border: 1px solid #dedede;
              font-size: 14px;
              text-align: center;
            }
            .tb {
              width: 100%;
              padding: 15px 15px;
              border: 1px solid #dedede;
              font-size: 14px;
            }

      &__optional {
        display: flex;
        justify-content: space-between;
        margin: 10px 0 10px;
        &__favorite {
          border-radius: 40px;
          border: 1px solid #ffb340;
          padding: 6px 10px;
          display: flex;
          align-items: center;
          color: #3ccace;
        }
        .optional_report {
          border-radius: 4px;
          border: 1px solid #333333;
          padding: 6px 10px;
          display: flex;
          align-items: center;
        }
      }

      &__comment {
        padding: 24px;
        margin: 10px 0;
        text-align: center;
        &__form {
          width: 100%;
          border: solid 1px #333333;
          font-size: 16px;
          padding: 10px;
          margin: 10px 0;
          height: 126px;
        }
        &__notes {
          background-color: #f8f8f8;
          text-align: left;
          margin: 10px 0 40px 0;
        }
        &__btn {
          background: #3ccace;
          border-radius: 100px;
          line-height: 48px;
          width: 60%;
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  .main__content__links {
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  .main__content__relatedItems {
    width: 700px;
    margin: auto;
    padding: 50px;
    justify-content: center;
    &__category {
      padding: 20px 0 20px 0;
      font-size: 24px;
    }
    .main__content__itemslist {
      width: 233px;
    }
      .imageslist{
        width: initial;
        vertical-align: middle;
        height: 150px;
        width: 233px;
      }
      .itemslist_body {
        background-color: white;
        padding: 15px;
        &__price{
          display: flex;
          justify-content: space-between;
          font-weight: bold;
        }
        .itemslist_body__tax {
          font-size: 10px;
          font-weight: bold;
        }
      }
  }
}