.main
  %section.main__block
    .header
      .header__logo
        =link_to image_tag('logo.png',class: "header__logo__image", size: "120x33"), root_path
    .sellContainer
      .sellContainer__content
        .sellTitle
          %h3.sellTitle-text
            出品画像
            %span.require
              必須
          %p 最大十枚までアップロードできます
        .sellContainer__content__box
          %ul.utputBox
            %div#imageInput
              %i.fa.fa-camera
      .sellContainer__content
        .sellTitle
          %h3.sellTitle__text
            商品名
            %supan.require
              必須
        .sellContainer__content__name
        
        .sellTitle
          %h3.sellTitle__text
            商品の説明
            %supan.require
              必須
        .sellContainer__content__description
          商品説明

      .sellContiner__content
        %h3.sellSubHead
          商品の詳細
        .sellTitle
          %h3.sellTitle__text
            カテゴリー
            %span.require
              必須
        .sellCollectionSelect
          .sellCollectionSelect__label
            仮のボックス
          %i.fa.fa-chevron-down
        .sellTitle
          %h3.sellTitle__text
            ブランド
            %supan.require.arbitrary
              任意
        .sellCollectionSelect
          .sellCollectionSelect__label
            仮のボックス
        .sellTitle
          %h3.sellTitle__text
            商品の状態
            %supan.require
              必須
        .sellCollectionSelect
          .sellCollectionSelect__label
            仮のボックス
          %i.fa.fa-chevron-down
        
    .sellContainer__content
      %h3.sellSubHead
        配送について
      .sellTitle
        %h3.sellTitle__text
          配送料の負担
          %span.require
            必須
        .sellCollectiuonSelect
          .sellCollection__label
            仮のセレクトボックス
          %i.fa.fa-chevron-down
      .sellTitle
        %h3.sellTitle__text
          配送の方法
          %span.require
            必須
        .sellCollectiuonSelect
          .sellCollectionSelect__label
            仮のセレクトボックス
          %i.fa.fa-chevron-down
      .selTitle
        %h3.selloTitle__text
          配送までの日数
          %span.require
            必須
        .sellCollectionSelect
          .sellCollectionSelect__label
            仮のセレクトボックス
          %i.fa.fa-chevron-down

    .sellContainer__content
      %h3.sellSubHead
        価格 (¥300~9,999,999)
      .sellContainer__content__price
        .sellTitle
          %h3.sellTitle__text
            販売価格
            %supan.require
              必須
        .sellContainer__content__price__form
          ¥
          .sellConteiner__content__price__box
            0
        .sellContainer__content__commission
          .sellContainer__content__commission__left
            販売手数料 (10%)
          .sellContainer__content__commission__right
            ー
        .sellConteiner__content__commission
          .sellConteiner__content__commission__left
            販売利益
          .sellConteiner__content__commission__right
            ー
        
          
