.main
  .main__content
    .main__content__itembox
      %h3.main__content__itembox__name
        商品名

      .main__content__itembox__body
        = link_to image_tag("a001.png", class: "item_image", alt: "サンプル画像")

      .main__content__itembox__tyep
        %section.imagebox
          = link_to image_tag("a002.png", class: "item_images", alt: "サンプル画像")

      .main__content__itembox__price
        .product_price
          %p ¥ 10.000
        .price_tax
          %p (税込み)送料込み
      .main__content__itembox__description
        %p あああああああ

      .main__content__itembox__table
        .main__content__itembox__table__collection
          %table
            %tr
              %th 出品者
              %tb 出品者名
            %tr
              %th カテゴリー
              %tb
            %tr
              %th ブランド
              %tb
            %tr
              %th 商品状態
              %tb
            %tr
              %th 配送料の負担
              %tb
            %tr
              %th 配送の方法
              %tb
            %tr
              %th 配送までの日数
              %tb
      .main__content__itembox__optionalArea
        .optionalBtn 
          %p お気に入り
        .optional
          %p 不適切な商品の通報
      .main__content__itembox__comment
        .main__content__itembox__comment__form

        .main__content__itembox__comment__notes
          %p 相手のことを考え丁寧なコメントを心がけましょう。
          %p 不快な言葉遣いなどは利用制限や退会処分となることがあります。
        .main__content__itembox__comment__btn
          %p コメントする

      .main__content__itembox__links
        %p 前のページ
        %p 次のページ

      .main__content__itembox__relatedItems
