.main
  %section.main__block
    .header
      .header__icon
        =link_to image_tag('logo.png',class: "header__logo__image"), root_path
  .update
    .update__attention
      %i.far.fa-wrench
        へい！らっしゃい！
-#   .update__box
-#     .update__heading
-#       .update__heading__text
-#         更新しました
-# %hr      
  -# .update__dicision
  -#         = link_to 'トップページへ戻る', "＃", class: "purchase__dicision__btn"
更新しました