.payment {
  padding: 0 0 40px;
  @include mq('sp') {
    width: 700px;
    margin: 24px auto 0;
  }
  background-color: #f8f8f8;
  padding-top: 40px;
  &__content {
    padding: 0 0 40px;
    width: 700px;
    background-color: white;
    margin: 0 auto;
    @include mq('sp') {
      width: 100vw;
      margin: 40px 0 0;
    }
    &__head {
      height: 99px;
      padding: 32px 16px;
      border-bottom: 1px solid #f8f8f8;
      text-align: center;
      &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 34px;
      }
    }
    &__form {
      padding: 0 16px;
      max-width: 343px;
      margin: 0 auto;
      &__container {
        padding: 24px 0;
        padding-bottom: 48px;
        &__content {
          .cardNumber {
            &__heading {
              font-weight: bold;
              display: flex;
              align-items: center;
              font-size: 14px;
              &__require {
                @include requireBox;
              }
            }
            &__content {
              &__box {
                .inputBox {
                  width: 309px;
                  padding: 0 16px;
                  border: 1px solid #ccc;
                  height: 48px;
                  border-radius: 4px;
                }
              }
            }
          }
          .cardExpirationDate {
            margin-top: 28px;
            &__head {
              font-weight: bold;
              display: flex;
              align-items: center;
              font-size: 14px;
              &__require {
                @include requireBox
              }
            }
            &__form {
              display: flex;
              justify-content: space-between;
              margin-top: 16px;
              align-items: center;
              .styleSelectArea {
                display: inline-block;
                position: relative;
                // width: inherit;
                select {
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  appearance: none;
                  background-color: #fff;
                  border: 1px solid #ccc;
                  border-radius: 4px;
                  box-sizing: border-box;
                  color: #222;
                  font-size: 16px;
                  height: 48px;
                  line-height: 1;
                  margin: 0;
                  outline: none;
                  padding: 0 56px 0 16px;
                  position: relative;
                  cursor: pointer;
                }
                select::-ms-expand {
                  display: none;
                }
                .fa.fa-chevron-down {
                  bottom: 0;
                  margin: 12px 0;
                  pointer-events: none;
                  position: absolute;
                  right: 16px;
                  top: 2px;
                  
                }
              }
              
            }
            &__security {
              margin-top: 28px;
              align-items: center;
              &__head {
                font-size: 14px;
                font-weight: bold;
                &__require {
                  @include requireBox
                }
              }
              &__content {
                margin-top: 16px;
                &__box {
                  .inputBox {
                    width: 309px;
                    // width: inherit;
                    padding: 0 16px;
                    border: 1px solid #ccc;
                    height: 48px;
                    border-radius: 4px;
                  }
                }
                &__help {
                  text-align: right;
                  .helpLink {
                    margin-top: 8px;
                    color: #0095ee;
                    font-size: 14px;
                  }
                }
                &__addNewCardBtn {
                  margin-top: 32px;
                  @include redBox;
                  border: none;
                  font-size: 17px;
                  height: 48px;
                  padding: 0 24px;

                  width: 100%;
                }
                &__backBtn {
                  color: #0095ee;
                  margin-top: 32px;
                  text-align: center;
                  display: block;
                  width: 100%;
                }
              }
            }
          }

        }
      }
      .radioBox {
        padding: 32px 0;
        border-bottom: solid 1px #f8f8f8;
        &__content {
          display: flex;
          &__btn {
            display: flex;
            align-items: center;
            
          }
          &__textBox {
            margin-left: 14px;
            &__cvsAtm {
              font-size: 14PX;

            }
            &__fee {
              font-size: 12px;
            }
          }
          .registrationCard {
            margin: 0 16px;
            width: 172px;
            &__number {
              font-size: 14px;
            }
            &__date {
              font-size: 14px;
            }
          }
          .deleteCard {
            display: flex;
            align-items: center;
            &__btn {
              background-color: initial;
              border: 1px solid rgb(234, 53, 45);
              border-radius: 4px;
              color: rgb(234, 53, 45);
              cursor: pointer;
              font-weight: bold;
              padding: 6px 12px;
              text-decoration: none;
              font-size: 14px;
            }
          }
        }
        .radioBox__newCard {
          margin-top: 32px;
          color: #0095ee;
          &__btn {
            color: #0095ee;
            text-decoration: none;
            font-size: 14px;
          }
        }
      }
    }
    .paymentMethodOfChoice {
      padding: 32px 0 48px;
      display: flex;
      justify-content: center;
      &__btn {
        width: 311px;
        height: 48px;
        font-size: 17px;
        padding: 0 24px;
        background-color: #ea352d;
        color: #fff;
        border: 1px solid transparent
      }
    }
  }
}
@media screen and (min-width: 1068px) {

  .payment {
    margin: 40px auto 0;
    width: 1020px;
    
    &__content {
      float: right;
      width: 700px;
    }
    
  }
}
.cardLogos {
  width: initial;
  vertical-align: middle;
  max-height: 20px;
  max-width: 44px;
  margin: 5px;
}
