h2 {
color:#3CCACE;
font-size: 30px;
display: flex;
justify-content: center;
align-items: center;
height: 100px;
}


.parentField {
  min-height: 100vh;
  display: block;
  justify-content: center;
  align-items: center; 
  color: #333;
  position: relative;
  height: vh-100px;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  .childField {
    width: 100px;
    height: vh-100px-100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom :0;
    margin:  auto;
  }
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;  
  background-color: #3CCACE;
  font-size: 15px;
  color: white;
  border: none;
  height: 50px;
  width: 100px;
  margin-top: 50px;
  margin-bottom: 30px;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
}