.notingImage {
  background-image: url(mini_logo_blue.png) ;
  background-position: center 40px;
  background-size: 78px 85px;
  text-align: center;
  padding:160px 0 60px; 
  background-repeat: no-repeat;
  color: #cccccc;
}
span {
  margin-left: 8px;
}
.bold {
  font-weight: bold;
}
.userMyPage {
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  background-color: #f8f8f8;
  &__main {
    width: 700px;
    .profileIcon {
      padding: 20px;
      height: 200px;
      background-color: lightgray;
      display: flex;
      align-items: center;
      &__link {
        height: 111px;
        width: 700px;
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        text-decoration: none;
        color: #333333;
        font-size: 14px;
        &__img {
          height: 60px;
          width: 60px;
          img {
            border-radius: 50%;
          }
        }
        &__userName {
          font-weight: bold;
        }
        &__number {
          display: flex;

          &__listings {
            margin-left: 14px;
          }
        }
      }
    }
    .notificationTodo {
      width: 100%;
      &__tabs {
        width: 700px;
        .tabMenu {
          display: block;
          float: left;
          width: 350px;
          height: 76px;
          background-color:#EEE;
          cursor: pointer;
          font-weight: bold;
          text-align: center;
          line-height: 76px;
        }
        input[name="tabItem"] {
          display: none;
        }
        .tabContains{
          padding-top: 76px;
          display:none;
          border-bottom: 1px solid #EEE;
          background-color: white;
        }
        #notice:checked + .tabMenu,
        #todo:checked + .tabMenu {
          background-color:white;
          height: 74px;
          border-top: 2px solid red ;
          box-sizing: border-box;
        }
        #notice:checked ~ #tabContainsNotice,
        #todo:checked ~ #tabContainsTodo {
          display: block;
        }
      }
    }
    .purchaseItem {
      width: 700px;
      &__title {
        margin-top: 40px;
        
        height: 72px;
        padding: 0 16px;
        line-height: 72px;
        background-color: #fafafa;
      }
      &__itemTabs {        
        width: 100%;
        .itemTabMenu {
          display: block;
          float: left;
          width: 350px;
          height: 76px;
          background-color:#EEE;
          cursor: pointer;
          font-weight: bold;
          text-align: center;
          line-height: 76px;
        }
        input[name="itemTab"] {
          display: none;
        }
        .tabContains{
          padding-top: 76px;
          display:none;
          border-bottom: 1px solid #EEE;
          background-color: white;
        }
        #tradings:checked + .itemTabMenu,
        #pastTransactions:checked + .itemTabMenu {
          background-color:white;
          height: 74px;
          border-top: 2px solid red ;
          box-sizing: border-box;
        }
        #tradings:checked ~ #tabContainsTradings,
        #pastTransactions:checked ~ #tabContainsPastTransactions {
          display: block;
        }
      }
    }
  }
  &__side {
    margin-right: 40px;
    .myPageNav {
      &__list {
        margin-top: 10px;
        &__item {
          list-style: none;
          width: 248px;
          height: 48px;
          background-color: white;
          border-top: 1px solid #eee;
          &__link {
            color: #333;
            display: block;
            font-size: 14px;
            line-height: 16px;
            padding: 16px;
            text-decoration: none;
            position: relative;
            
            .fa-angle-right {
              position: absolute;
              right: 16px;
              top: 16px;
              color: lightgray;
              font-size: 18px;
            }
          }
        }
        &__item:hover {
          background-color: #fafafa;
        }
        &__item:hover .fa-angle-right {
            position: absolute;
            color: black;
            right: 10px;
            top: 16px;
          }
      }
      &__head {
        margin-top: 40px;
        h2 {
          font-weight: bold;
          font-size: 14px;
        }
      }
      
    }
  }
}

